<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav">
      <p><%= link_to 'Wikinimous', articles_path %></p>
      <p><%= link_to 'Insert new article', new_article_path %></p>
    </div>
    <div class="container" id="container-articles">
      <%= yield %>
    </div>

  </body>
</html>
